@font-face {
    font-family: "Rubik";
    src: url("../font/static/Rubik-Bold.ttf");
}

h1 {
    font-size: 40px;
    font-family: "Rubik";
}

.item {
    font-family: "Rubik";
    max-width: 500px;
    max-height: 165px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 11px 16px 19px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 11px 16px 19px 4px rgba(0, 0, 0, 0.28);
    box-shadow: 11px 16px 19px 4px rgba(0, 0, 0, 0.28);
}

.hide {
    display: none;
}

#buy {
    position: absolute;
}
